name: pixi
on: [push, pull_request]
jobs:
  pixi:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Pixi
        uses: prefix-dev/setup-pixi@v0.9.3
        with:
          cache: true
      - name: run linkapy through pixi
        run: pixi run linkapy -h